<h2>Repositories</h2>

<div class="table_div">
<table class="table table-striped", id="repo_table">
  <thead class="thead-inverse">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @repos.each do |repo| %>
    <tr>
      <th scope="row"><%= repo.id %> </th>
      <td><%= repo.name %></td>
      <td><%= link_to repo[:html_url] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
