<h2>Followers</h2>

<div class="table_div">
<table class="table table-striped", id="repo_table">
  <thead class="thead-inverse">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @followers.each do |follower| %>
    <tr>
      <th scope="row"><%= follower.id %> </th>
      <td><%= follower.login%></td>
      <td><%= link_to follower.html_url %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
