/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


  body { padding-top: 70px; }

  table {
          /*align-items: center;*/

  }

  #repo_table {
    width: 800px;
    align-items: center;
  }

  .table_div {
    margin-top: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .org_table_div {
    /*margin-top: 350px;*/
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



  h2 {
    text-align: center;
  }

  .dashboard_div {
    margin-left: 300px;
    margin-right: 300px;
  }

  .user_info {

    text-align: center;
  }

  #starred_repos {
    text-align: center;
  }

  .commit_head {
    text-align: center;
  }

  .commits_div {
    margin-top: 70px;
  }

  .nav_links {
    align: center;
  }
